TermProject/Web References/CloudWS/CloudWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="addDownloadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addDownloadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addDownloadDataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMaxFileID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMaxFileIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getMaxFileIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addDownloadDataSoapIn">
    <wsdl:part name="parameters" element="tns:addDownloadData" />
  </wsdl:message>
  <wsdl:message name="addDownloadDataSoapOut">
    <wsdl:part name="parameters" element="tns:addDownloadDataResponse" />
  </wsdl:message>
  <wsdl:message name="getMaxFileIDSoapIn">
    <wsdl:part name="parameters" element="tns:getMaxFileID" />
  </wsdl:message>
  <wsdl:message name="getMaxFileIDSoapOut">
    <wsdl:part name="parameters" element="tns:getMaxFileIDResponse" />
  </wsdl:message>
  <wsdl:portType name="CloudWSSoap">
    <wsdl:operation name="addDownloadData">
      <wsdl:input message="tns:addDownloadDataSoapIn" />
      <wsdl:output message="tns:addDownloadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMaxFileID">
      <wsdl:input message="tns:getMaxFileIDSoapIn" />
      <wsdl:output message="tns:getMaxFileIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CloudWSSoap" type="tns:CloudWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addDownloadData">
      <soap:operation soapAction="http://tempuri.org/addDownloadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaxFileID">
      <soap:operation soapAction="http://tempuri.org/getMaxFileID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CloudWSSoap12" type="tns:CloudWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addDownloadData">
      <soap12:operation soapAction="http://tempuri.org/addDownloadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaxFileID">
      <soap12:operation soapAction="http://tempuri.org/getMaxFileID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudWS">
    <wsdl:port name="CloudWSSoap" binding="tns:CloudWSSoap">
      <soap:address location="http://localhost:52728/CloudWS.asmx" />
    </wsdl:port>
    <wsdl:port name="CloudWSSoap12" binding="tns:CloudWSSoap12">
      <soap12:address location="http://localhost:52728/CloudWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>