TermProject/Web References/CloudWS/CloudWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="addDownloadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addDownloadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addDownloadDataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMaxFileID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getMaxFileIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getMaxFileIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDownloadData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fileLength" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDownloadDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDownloadDataResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="adminID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteAccountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteAllFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteAllFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteAllFilesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="resetStorageUsed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="resetStorageUsedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="resetStorageUsedResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logUserTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logUserTransactionResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="addDownloadDataSoapIn">
    <wsdl:part name="parameters" element="tns:addDownloadData" />
  </wsdl:message>
  <wsdl:message name="addDownloadDataSoapOut">
    <wsdl:part name="parameters" element="tns:addDownloadDataResponse" />
  </wsdl:message>
  <wsdl:message name="getMaxFileIDSoapIn">
    <wsdl:part name="parameters" element="tns:getMaxFileID" />
  </wsdl:message>
  <wsdl:message name="getMaxFileIDSoapOut">
    <wsdl:part name="parameters" element="tns:getMaxFileIDResponse" />
  </wsdl:message>
  <wsdl:message name="getDownloadDataSoapIn">
    <wsdl:part name="parameters" element="tns:getDownloadData" />
  </wsdl:message>
  <wsdl:message name="getDownloadDataSoapOut">
    <wsdl:part name="parameters" element="tns:getDownloadDataResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="deleteAccountSoapIn">
    <wsdl:part name="parameters" element="tns:deleteAccount" />
  </wsdl:message>
  <wsdl:message name="deleteAccountSoapOut">
    <wsdl:part name="parameters" element="tns:deleteAccountResponse" />
  </wsdl:message>
  <wsdl:message name="deleteAllFilesSoapIn">
    <wsdl:part name="parameters" element="tns:deleteAllFiles" />
  </wsdl:message>
  <wsdl:message name="deleteAllFilesSoapOut">
    <wsdl:part name="parameters" element="tns:deleteAllFilesResponse" />
  </wsdl:message>
  <wsdl:message name="resetStorageUsedSoapIn">
    <wsdl:part name="parameters" element="tns:resetStorageUsed" />
  </wsdl:message>
  <wsdl:message name="resetStorageUsedSoapOut">
    <wsdl:part name="parameters" element="tns:resetStorageUsedResponse" />
  </wsdl:message>
  <wsdl:message name="logUserTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:logUserTransaction" />
  </wsdl:message>
  <wsdl:message name="logUserTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:logUserTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="CloudWSSoap">
    <wsdl:operation name="addDownloadData">
      <wsdl:input message="tns:addDownloadDataSoapIn" />
      <wsdl:output message="tns:addDownloadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getMaxFileID">
      <wsdl:input message="tns:getMaxFileIDSoapIn" />
      <wsdl:output message="tns:getMaxFileIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDownloadData">
      <wsdl:input message="tns:getDownloadDataSoapIn" />
      <wsdl:output message="tns:getDownloadDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileSoapIn" />
      <wsdl:output message="tns:DeleteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteAccount">
      <wsdl:input message="tns:deleteAccountSoapIn" />
      <wsdl:output message="tns:deleteAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteAllFiles">
      <wsdl:input message="tns:deleteAllFilesSoapIn" />
      <wsdl:output message="tns:deleteAllFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="resetStorageUsed">
      <wsdl:input message="tns:resetStorageUsedSoapIn" />
      <wsdl:output message="tns:resetStorageUsedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="logUserTransaction">
      <wsdl:input message="tns:logUserTransactionSoapIn" />
      <wsdl:output message="tns:logUserTransactionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CloudWSSoap" type="tns:CloudWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addDownloadData">
      <soap:operation soapAction="http://tempuri.org/addDownloadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaxFileID">
      <soap:operation soapAction="http://tempuri.org/getMaxFileID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDownloadData">
      <soap:operation soapAction="http://tempuri.org/getDownloadData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAccount">
      <soap:operation soapAction="http://tempuri.org/deleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAllFiles">
      <soap:operation soapAction="http://tempuri.org/deleteAllFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetStorageUsed">
      <soap:operation soapAction="http://tempuri.org/resetStorageUsed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logUserTransaction">
      <soap:operation soapAction="http://tempuri.org/logUserTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CloudWSSoap12" type="tns:CloudWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addDownloadData">
      <soap12:operation soapAction="http://tempuri.org/addDownloadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaxFileID">
      <soap12:operation soapAction="http://tempuri.org/getMaxFileID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDownloadData">
      <soap12:operation soapAction="http://tempuri.org/getDownloadData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAccount">
      <soap12:operation soapAction="http://tempuri.org/deleteAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAllFiles">
      <soap12:operation soapAction="http://tempuri.org/deleteAllFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetStorageUsed">
      <soap12:operation soapAction="http://tempuri.org/resetStorageUsed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logUserTransaction">
      <soap12:operation soapAction="http://tempuri.org/logUserTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudWS">
    <wsdl:port name="CloudWSSoap" binding="tns:CloudWSSoap">
      <soap:address location="http://localhost:52728/CloudWS.asmx" />
    </wsdl:port>
    <wsdl:port name="CloudWSSoap12" binding="tns:CloudWSSoap12">
      <soap12:address location="http://localhost:52728/CloudWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>