TermProject/Web References/RegistrationWS/RegistrationWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newPerson" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StorageSpace" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="StorageUsed" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PW" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateLoginResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddAccountSoapIn">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="AddAccountSoapOut">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="RegistrationWSSoap">
    <wsdl:operation name="AddAccount">
      <wsdl:input message="tns:AddAccountSoapIn" />
      <wsdl:output message="tns:AddAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <wsdl:input message="tns:ValidateLoginSoapIn" />
      <wsdl:output message="tns:ValidateLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistrationWSSoap" type="tns:RegistrationWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="http://tempuri.org/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistrationWSSoap12" type="tns:RegistrationWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAccount">
      <soap12:operation soapAction="http://tempuri.org/AddAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogin">
      <soap12:operation soapAction="http://tempuri.org/ValidateLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationWS">
    <wsdl:port name="RegistrationWSSoap" binding="tns:RegistrationWSSoap">
      <soap:address location="http://localhost:52728/RegistrationWS.asmx" />
    </wsdl:port>
    <wsdl:port name="RegistrationWSSoap12" binding="tns:RegistrationWSSoap12">
      <soap12:address location="http://localhost:52728/RegistrationWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>