TermProject/Web References/Part2WS/Part2WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAccountInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountInfoResult" type="tns:Person" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Person">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountType" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StorageSpace" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="StorageUsed" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updatePerson" type="tns:Person" />
            <s:element minOccurs="0" maxOccurs="1" name="oldEmail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateAccountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="length" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="accountID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="imagePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extension" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="uploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="uploadFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFilesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="getUploadHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fromDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="toDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUploadHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUploadHistoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFileResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateStorageUsed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="storageUsed" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateStorageUsedResponse">
        <s:complexType />
      </s:element>
      <s:element name="getAllAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllAccountResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllAdminResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateStorageCapacity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="adminID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="capacity" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateStorageCapacityResponse">
        <s:complexType />
      </s:element>
      <s:element name="deleteAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="adminID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteAccountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="resetPassord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="adminID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="resetPassordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="resetPassordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fileSize" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileDataResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFileInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="fileID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFileInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFileInfoResult" type="tns:FileData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FileData">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FileID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Timestamp" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
          <s:element minOccurs="1" maxOccurs="1" name="Length" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ImagePath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="activateOrDeactivate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="adminID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="activateOrDeactivateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="activateOrDeactivateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAdminLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="adminID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAdminLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAdminLogResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getForum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getForumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getForumResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addQuestionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addAnswer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addAnswerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addAnswerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updatePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updatePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updatePasswordResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateStorage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="option" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateStorageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="newName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="verification" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateNameResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAccountInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountInfo" />
  </wsdl:message>
  <wsdl:message name="GetAccountInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateAccount" />
  </wsdl:message>
  <wsdl:message name="UpdateAccountSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="uploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:uploadFile" />
  </wsdl:message>
  <wsdl:message name="uploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:uploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="getFilesSoapIn">
    <wsdl:part name="parameters" element="tns:getFiles" />
  </wsdl:message>
  <wsdl:message name="getFilesSoapOut">
    <wsdl:part name="parameters" element="tns:getFilesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFileSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFile" />
  </wsdl:message>
  <wsdl:message name="UpdateFileSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFileResponse" />
  </wsdl:message>
  <wsdl:message name="getUploadHistorySoapIn">
    <wsdl:part name="parameters" element="tns:getUploadHistory" />
  </wsdl:message>
  <wsdl:message name="getUploadHistorySoapOut">
    <wsdl:part name="parameters" element="tns:getUploadHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="getFileSoapIn">
    <wsdl:part name="parameters" element="tns:getFile" />
  </wsdl:message>
  <wsdl:message name="getFileSoapOut">
    <wsdl:part name="parameters" element="tns:getFileResponse" />
  </wsdl:message>
  <wsdl:message name="updateStorageUsedSoapIn">
    <wsdl:part name="parameters" element="tns:updateStorageUsed" />
  </wsdl:message>
  <wsdl:message name="updateStorageUsedSoapOut">
    <wsdl:part name="parameters" element="tns:updateStorageUsedResponse" />
  </wsdl:message>
  <wsdl:message name="getAllAccountSoapIn">
    <wsdl:part name="parameters" element="tns:getAllAccount" />
  </wsdl:message>
  <wsdl:message name="getAllAccountSoapOut">
    <wsdl:part name="parameters" element="tns:getAllAccountResponse" />
  </wsdl:message>
  <wsdl:message name="getAllAdminSoapIn">
    <wsdl:part name="parameters" element="tns:getAllAdmin" />
  </wsdl:message>
  <wsdl:message name="getAllAdminSoapOut">
    <wsdl:part name="parameters" element="tns:getAllAdminResponse" />
  </wsdl:message>
  <wsdl:message name="updateStorageCapacitySoapIn">
    <wsdl:part name="parameters" element="tns:updateStorageCapacity" />
  </wsdl:message>
  <wsdl:message name="updateStorageCapacitySoapOut">
    <wsdl:part name="parameters" element="tns:updateStorageCapacityResponse" />
  </wsdl:message>
  <wsdl:message name="deleteAccountSoapIn">
    <wsdl:part name="parameters" element="tns:deleteAccount" />
  </wsdl:message>
  <wsdl:message name="deleteAccountSoapOut">
    <wsdl:part name="parameters" element="tns:deleteAccountResponse" />
  </wsdl:message>
  <wsdl:message name="resetPassordSoapIn">
    <wsdl:part name="parameters" element="tns:resetPassord" />
  </wsdl:message>
  <wsdl:message name="resetPassordSoapOut">
    <wsdl:part name="parameters" element="tns:resetPassordResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileData" />
  </wsdl:message>
  <wsdl:message name="GetFileDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileDataResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFileInfoSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFileInfo" />
  </wsdl:message>
  <wsdl:message name="getAllFileInfoSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="activateOrDeactivateSoapIn">
    <wsdl:part name="parameters" element="tns:activateOrDeactivate" />
  </wsdl:message>
  <wsdl:message name="activateOrDeactivateSoapOut">
    <wsdl:part name="parameters" element="tns:activateOrDeactivateResponse" />
  </wsdl:message>
  <wsdl:message name="getAdminLogSoapIn">
    <wsdl:part name="parameters" element="tns:getAdminLog" />
  </wsdl:message>
  <wsdl:message name="getAdminLogSoapOut">
    <wsdl:part name="parameters" element="tns:getAdminLogResponse" />
  </wsdl:message>
  <wsdl:message name="getForumSoapIn">
    <wsdl:part name="parameters" element="tns:getForum" />
  </wsdl:message>
  <wsdl:message name="getForumSoapOut">
    <wsdl:part name="parameters" element="tns:getForumResponse" />
  </wsdl:message>
  <wsdl:message name="addQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:addQuestion" />
  </wsdl:message>
  <wsdl:message name="addQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:addQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="addAnswerSoapIn">
    <wsdl:part name="parameters" element="tns:addAnswer" />
  </wsdl:message>
  <wsdl:message name="addAnswerSoapOut">
    <wsdl:part name="parameters" element="tns:addAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="updatePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:updatePassword" />
  </wsdl:message>
  <wsdl:message name="updatePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:updatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="updateStorageSoapIn">
    <wsdl:part name="parameters" element="tns:updateStorage" />
  </wsdl:message>
  <wsdl:message name="updateStorageSoapOut">
    <wsdl:part name="parameters" element="tns:updateStorageResponse" />
  </wsdl:message>
  <wsdl:message name="updateNameSoapIn">
    <wsdl:part name="parameters" element="tns:updateName" />
  </wsdl:message>
  <wsdl:message name="updateNameSoapOut">
    <wsdl:part name="parameters" element="tns:updateNameResponse" />
  </wsdl:message>
  <wsdl:portType name="Part2WSSoap">
    <wsdl:operation name="GetAccountInfo">
      <wsdl:input message="tns:GetAccountInfoSoapIn" />
      <wsdl:output message="tns:GetAccountInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <wsdl:input message="tns:UpdateAccountSoapIn" />
      <wsdl:output message="tns:UpdateAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <wsdl:input message="tns:uploadFileSoapIn" />
      <wsdl:output message="tns:uploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFiles">
      <wsdl:input message="tns:getFilesSoapIn" />
      <wsdl:output message="tns:getFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFile">
      <wsdl:input message="tns:UpdateFileSoapIn" />
      <wsdl:output message="tns:UpdateFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUploadHistory">
      <wsdl:input message="tns:getUploadHistorySoapIn" />
      <wsdl:output message="tns:getUploadHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileSoapIn" />
      <wsdl:output message="tns:DeleteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFile">
      <wsdl:input message="tns:getFileSoapIn" />
      <wsdl:output message="tns:getFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateStorageUsed">
      <wsdl:input message="tns:updateStorageUsedSoapIn" />
      <wsdl:output message="tns:updateStorageUsedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllAccount">
      <wsdl:input message="tns:getAllAccountSoapIn" />
      <wsdl:output message="tns:getAllAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllAdmin">
      <wsdl:input message="tns:getAllAdminSoapIn" />
      <wsdl:output message="tns:getAllAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateStorageCapacity">
      <wsdl:input message="tns:updateStorageCapacitySoapIn" />
      <wsdl:output message="tns:updateStorageCapacitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteAccount">
      <wsdl:input message="tns:deleteAccountSoapIn" />
      <wsdl:output message="tns:deleteAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="resetPassord">
      <wsdl:input message="tns:resetPassordSoapIn" />
      <wsdl:output message="tns:resetPassordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileData">
      <wsdl:input message="tns:GetFileDataSoapIn" />
      <wsdl:output message="tns:GetFileDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFileInfo">
      <wsdl:input message="tns:getAllFileInfoSoapIn" />
      <wsdl:output message="tns:getAllFileInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="activateOrDeactivate">
      <wsdl:input message="tns:activateOrDeactivateSoapIn" />
      <wsdl:output message="tns:activateOrDeactivateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAdminLog">
      <wsdl:input message="tns:getAdminLogSoapIn" />
      <wsdl:output message="tns:getAdminLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getForum">
      <wsdl:input message="tns:getForumSoapIn" />
      <wsdl:output message="tns:getForumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addQuestion">
      <wsdl:input message="tns:addQuestionSoapIn" />
      <wsdl:output message="tns:addQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addAnswer">
      <wsdl:input message="tns:addAnswerSoapIn" />
      <wsdl:output message="tns:addAnswerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updatePassword">
      <wsdl:input message="tns:updatePasswordSoapIn" />
      <wsdl:output message="tns:updatePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateStorage">
      <wsdl:input message="tns:updateStorageSoapIn" />
      <wsdl:output message="tns:updateStorageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateName">
      <wsdl:input message="tns:updateNameSoapIn" />
      <wsdl:output message="tns:updateNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Part2WSSoap" type="tns:Part2WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountInfo">
      <soap:operation soapAction="http://tempuri.org/GetAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap:operation soapAction="http://tempuri.org/UpdateAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <soap:operation soapAction="http://tempuri.org/uploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFiles">
      <soap:operation soapAction="http://tempuri.org/getFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFile">
      <soap:operation soapAction="http://tempuri.org/UpdateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUploadHistory">
      <soap:operation soapAction="http://tempuri.org/getUploadHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFile">
      <soap:operation soapAction="http://tempuri.org/getFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStorageUsed">
      <soap:operation soapAction="http://tempuri.org/updateStorageUsed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAccount">
      <soap:operation soapAction="http://tempuri.org/getAllAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAdmin">
      <soap:operation soapAction="http://tempuri.org/getAllAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStorageCapacity">
      <soap:operation soapAction="http://tempuri.org/updateStorageCapacity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAccount">
      <soap:operation soapAction="http://tempuri.org/deleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassord">
      <soap:operation soapAction="http://tempuri.org/resetPassord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileData">
      <soap:operation soapAction="http://tempuri.org/GetFileData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFileInfo">
      <soap:operation soapAction="http://tempuri.org/getAllFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activateOrDeactivate">
      <soap:operation soapAction="http://tempuri.org/activateOrDeactivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdminLog">
      <soap:operation soapAction="http://tempuri.org/getAdminLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForum">
      <soap:operation soapAction="http://tempuri.org/getForum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addQuestion">
      <soap:operation soapAction="http://tempuri.org/addQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAnswer">
      <soap:operation soapAction="http://tempuri.org/addAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePassword">
      <soap:operation soapAction="http://tempuri.org/updatePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStorage">
      <soap:operation soapAction="http://tempuri.org/updateStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateName">
      <soap:operation soapAction="http://tempuri.org/updateName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Part2WSSoap12" type="tns:Part2WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAccountInfo">
      <soap12:operation soapAction="http://tempuri.org/GetAccountInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
      <soap12:operation soapAction="http://tempuri.org/UpdateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadFile">
      <soap12:operation soapAction="http://tempuri.org/uploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFiles">
      <soap12:operation soapAction="http://tempuri.org/getFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFile">
      <soap12:operation soapAction="http://tempuri.org/UpdateFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUploadHistory">
      <soap12:operation soapAction="http://tempuri.org/getUploadHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFile">
      <soap12:operation soapAction="http://tempuri.org/getFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStorageUsed">
      <soap12:operation soapAction="http://tempuri.org/updateStorageUsed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAccount">
      <soap12:operation soapAction="http://tempuri.org/getAllAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAdmin">
      <soap12:operation soapAction="http://tempuri.org/getAllAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStorageCapacity">
      <soap12:operation soapAction="http://tempuri.org/updateStorageCapacity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteAccount">
      <soap12:operation soapAction="http://tempuri.org/deleteAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassord">
      <soap12:operation soapAction="http://tempuri.org/resetPassord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileData">
      <soap12:operation soapAction="http://tempuri.org/GetFileData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFileInfo">
      <soap12:operation soapAction="http://tempuri.org/getAllFileInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activateOrDeactivate">
      <soap12:operation soapAction="http://tempuri.org/activateOrDeactivate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAdminLog">
      <soap12:operation soapAction="http://tempuri.org/getAdminLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForum">
      <soap12:operation soapAction="http://tempuri.org/getForum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addQuestion">
      <soap12:operation soapAction="http://tempuri.org/addQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAnswer">
      <soap12:operation soapAction="http://tempuri.org/addAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updatePassword">
      <soap12:operation soapAction="http://tempuri.org/updatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStorage">
      <soap12:operation soapAction="http://tempuri.org/updateStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateName">
      <soap12:operation soapAction="http://tempuri.org/updateName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Part2WS">
    <wsdl:port name="Part2WSSoap" binding="tns:Part2WSSoap">
      <soap:address location="http://cis-iis2.temple.edu/Spring2017/CIS3342_tub48631/TermProjectWS/Part2WS.asmx" />
    </wsdl:port>
    <wsdl:port name="Part2WSSoap12" binding="tns:Part2WSSoap12">
      <soap12:address location="http://cis-iis2.temple.edu/Spring2017/CIS3342_tub48631/TermProjectWS/Part2WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>